*{
  background-color: bisque;

}

.App {
  text-align: center;
  
}
.inputField{
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: white;
  outline: none;
}

.AddBtn{
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 7px;
  
}

.displaySection{
  display: flex;
  justify-content: space-between;
  background-color: transparent;  
  margin-top: 10px;
}
.displaySectionmain{
  margin: 0px auto;
  width: 60%;
  height: auto;
  background-color: cadetblue;
  margin-top: 40px;
  border: none;
  border-radius: 20px;
  padding: 20px;
}
.sr{
  background-color: transparent;
}



@media only screen and (max-width: 768px){
.displaySectionmain{
  width: 95%;
}
}